/*Logo details*/

#logo {
    width: 200px;
    float: left;
}


/*Icon details*/

#cart,
#signin {
    height: 30px;
    width: 30px;
}

nav {
    text-align: right;
    max-width: 100%;
}

.mm {
    margin: 35px 20px 0 0;
    float: right;
}

nav a {
    padding-left: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    color: #502b1f;
    font-weight: bold;
}

.slide_bg {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("images/bg-1.jpg");
}

@keyframes slideBg {
    50% {
        background-image: url("images/bg-1.jpg");
    }
    50% {
        background-image: url("images/bg-2.jpg");
    }
    50% {
        background-image: url("images/bg-3.jpg");
    }
    50% {
        background-image: url("images/bg-4.jpg");
    }
    50% {
        background-image: url("images/bg-5.jpg");
    }
    50% {
        background-image: url("images/bg-6.jpg");
    }
    50% {
        background-image: url("images/bg-7.jpg");
    }
    50% {
        background-image: url("images/bg-8.jpg");
    }
}

#trans {
    margin: 15% 10% 10% 25%;
    width: 50%;
    height: 30%;
    background-color: #000000;
    opacity: 0.6;
    border-radius: 150px;
}

#sequence {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: lighter;
    font-size: 40pt;
    padding: 12%;
}

section {
    margin-top: 150px;
}

.container {
    margin-top: 100px;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#products{
    border-radius: 25px;
    border: 2.5px solid #683c11;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.411);
  }